@charset "UTF-8";

.nav{
	width:1200px;
  height:15px;
}

.header {
	width:1200px;
	height:50px;
}

#class-image {
	width : 200px;
  height: 200px;
  border: 1px dashed black;
  margin-left: 30px;
}
 
 .footer {
   width:1200px;
   height:100px; 
 }
 
  #title {
 font-weight: bold;
 font-size: xx-large;
 }
 