﻿/*************************
*******Typography******
**************************/

{
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
}
#party-create{
	margin-top:10px;
	margin-left:950px;
	border-radius: 5px;
  color : black;
	display:flex;
	position:absolute;
	height:33px;
	line-height:30px;
}


/*~~~~~~~~~~~~~~*/


#btn-out {
	width: 90px;
  height: 35px;
  border-radius: 5px;
  color : white;
  background-color: #66B2FF;
  text-align:center;
  margin-left: 430px;
}

#btn-out:active {
  color: black;
}

#btn-in {
	width: 90px;
  height: 35px;
  border-radius: 5px;
  color : white;
  background-color: #FF6666;
  text-align:center;
  margin-left:30px;
  margin-top:30px;
}

#btn-in:active {
  color: black;
}

.dropdown {
	float:right;
}

#member-drop {
	margin-right:15px;
	margin-top:30px;
}

#regist-drop {
	margin-right: 150px;
	margin-top:30px;
}

#member-dropp {
  margin-right:15px;
  margin-top:10px;
  margin-bottom:10px;
}

#regist-dropp {
  margin-right: 230px;
  margin-top:10px;
}

.class-index{
    display: inline;
    width: 100px;
    height: 100px;
    border: 1px solid none;
}

.class-card {
	margin-top:50px;
	margin-bottom:50px;
	margin-left:140px;
	float:left;
}

#region-summary {
	background-color:#FFE5CC;
	height:10px;
	border-radius:5px;
}

.card-detail{
	  background-color: #F7F7F7;
    width: 200px;
    height: 90px;
}


#like-heart {
	margin-left:150px;
}

#heart {
	color:red;
}

#thumb {
	margin-left:30px;
}

.slider {
	width:40%;
	margin-left:40px;
  margin-top:50px;
}

.slides {
  display:flex;
}

.region-image {
	max-height:30%;
}

.class-sum-container{
width:100px;
height:100px;
border: 1px solid black;

}

